<ul class=" inline text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400"
    id="fullWidthTab"
    data-tabs-toggle="#fullWidthTabContent"
    role="tablist">
  <li class="w-full">
    <button id="list-tab"
            data-tabs-target="#list"
            type="button"
            role="tab"
            aria-controls="list"
            aria-selected="true"
            class="inline-block w-full p-4 rounded-tr-lg  hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300">
      List</button>
  </li>
  <li class="w-full">
    <button id="create-tab"
            data-tabs-target="#create"
            type="button"
            role="tab"
            aria-controls="create"
            aria-selected="false"
            class="inline-block w-full p-4 rounded-tr-lg  hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300">
      Create</button>
  </li>
</ul>
<div id="fullWidthTabContent"
     class="border-t border-gray-200 dark:border-gray-600">
  <div class="pt-4"
       id="list"
       role="tabpanel"
       aria-labelledby="list-tab">
    <app-reminder-list></app-reminder-list>
  </div>
  <div class="hidden pt-4"
       id="create"
       role="tabpanel"
       aria-labelledby="create-tab">
    <app-reminder-create></app-reminder-create>
  </div>
</div>

<!-- <app-reminder-create></app-reminder-create> -->