<div class="flex w-full justify-end mb-3">

  <div data-popover
       id="popover-company-payment-method"
       role="tooltip"
       class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-80 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
    <app-payment-method-create></app-payment-method-create>
    <div data-popper-arrow></div>
  </div>

  <button data-popover-target="popover-company-payment-method"
          data-popover-placement="left"
          data-popover-trigger="click"
          class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-orange-800"
          type="button">
    <i class="fa fa-solid fa-plus mr-2"></i> Add new payment-method
  </button>
</div>

<div class="grid grid-cols-2 gap-4">
  <div>
    <div class="group bg-gray-900 p-4 transition-all duration-300 hover:rotate-1 lg:p-8">
      <div class="mb-3 text-right">
        <!-- <button class="text-gray-50 transition-all duration-300 hover:scale-110 hover:text-red-600">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               fill="currentColor"
               class="h-6 w-6">
            <path
                  d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
          </svg>
        </button> -->
      </div>
      <div class="my-4">
        <h3 class="text-xl font-medium mb-4 text-gray-200">Absa account 1</h3>
        <div class="text-sm font-medium">
          <span class="m-1 ml-0 inline-block text-orange-500"> <i class="fa-solid fa-building mr-2"></i> Absa Bank</span>

        </div>
        <div class="mt-2 text-sm text-gray-400"><i class="fa-solid fa-receipt mr-2"></i> 004-8738928</div>
      </div>

    </div>
  </div>



</div>