<div class="grid gap-4 grid-cols-2"
     *ngIf="!loading">
  <div *ngFor="let reminder of reminderService.data"
       [ngClass]="{'bg-orange-100 scale-105 outline-1': reminder.id == selectedReminderId}"
       (click)="selectReminder(reminder.id!)"
       class="max-w-sm p-4 flex clickable justify-between items-baseline bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <a class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white"> <i class="fa-solid fa-calendar mr-2"></i> {{ reminder.date | date:
      'dd MMM yyyy' }}
    </a>
    <div class="text-sm font-normal text-gray-500  dark:text-gray-400"><i class="fa-solid fa-clock mr-2"></i> {{ reminder.date | date: 'HH:mm' }}
    </div>

  </div>



</div>

<app-loading *ngIf="loading"></app-loading>