<p>reminder-list works!</p>
<div class="grid grid-cols-2">
  <div
       class="max-w-sm p-4 flex justify-between items-baseline bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <a href="#"
       class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white"> <i class="fa-solid fa-calendar mr-2"></i> 12 Mars 2023
    </a>
    <div class="text-sm font-normal text-gray-500  dark:text-gray-400"><i class="fa-solid fa-clock mr-2"></i> 12:23</div>

  </div>

  <div
       class="max-w-sm p-4 py-5 flex  justify-between items-baseline bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <a href="#"
       class="mb-2  font-semibold tracking-tight text-gray-900 dark:text-white"> <i class="fa-solid fa-calendar mr-2"></i> 17 Mars 2023
    </a>

    <span class="bg-gray-100   text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.2 rounded dark:bg-gray-700 dark:text-gray-300"><i
         class="fa-solid fa-arrows-spin"></i></span>

    <div class="text-sm  font-normal text-gray-500  dark:text-gray-400"><i class="fa-solid fa-clock mr-2"></i> 16:32</div>

  </div>

</div>