<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow">
        <app-loading *ngIf="loading"></app-loading>
        <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
               *ngIf="!loading && creditLoanService.data.length">
          <thead class="bg-gray-100 dark:bg-gray-700">
            <tr>
              <th scope="col"
                  class="p-4">
                <div class="flex items-center">
                  <input id="checkbox-all"
                         aria-describedby="checkbox-1"
                         type="checkbox"
                         class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                  <label for="checkbox-all"
                         class="sr-only">checkbox</label>
                </div>
              </th>
              <th scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Customer Name
              </th>
              <th scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Phone number
              </th>
              <th scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Description
              </th>
              <th scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Due date
              </th>
              <th scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Amount of Goods
              </th>
              <th scope="col"
                  class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Status
              </th>
              <th scope="col"
                  class="p-4 text-xs font-medium text-center text-gray-500 uppercase dark:text-gray-400">
                Actions
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">

            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700"
                *ngFor="let credit of creditLoanService.data">
              <!-- Check -->
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input id="checkbox-194556"
                         aria-describedby="checkbox-1"
                         type="checkbox"
                         class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                  <label for="checkbox-194556"
                         class="sr-only">checkbox</label>
                </div>
              </td>

              <!-- Name -->
              <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                <div class="text-base font-semibold text-gray-900 dark:text-white">{{ credit.customer?.name }}</div>
                <div class="text-sm font-normal text-gray-500 dark:text-gray-400">Madina</div>
              </td>

              <!-- Phone number -->
              <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ credit.customer?.phone_number }}</td>

              <!-- Description -->
              <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
                <span *ngIf="credit.description ">{{ credit.description }}</span>
                <i *ngIf="!credit.description ">No description</i>
              </td>
              <!-- NIN -->
              <td class="p-4 text-base  text-gray-900 whitespace-nowrap dark:text-white">
                {{ credit.due_date | date:'dd - MMM - yy' }}
              </td>

              <!-- Amount of goods -->
              <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ credit.amount }}</td>

              <!-- Status -->
              <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ credit.credit_loan_status?.name }}</td>

              <!-- Actions -->
              <td class="p-4 space-x-2 whitespace-nowrap flex justify-end">
                <button type="button"
                        *ngIf="credit.credit_loan_status?.name == 'Unpaid'"
                        id="updateProductButton"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                  <i class="fa-solid fa-check-double mr-2"></i>
                  Mark as paid
                </button>
                <button type="button"
                        *ngIf="credit.credit_loan_status?.name == 'Unpaid'"
                        (click)="setReminder(credit)"
                        id="updateProductButton"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                  <i class="fa-solid fa-clock mr-2"></i>
                  Set reminder
                </button>
                <button type="button"
                        id="updateProductButton"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">
                  <svg class="w-4 h-4 mr-2"
                       fill="currentColor"
                       viewBox="0 0 20 20"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                    <path fill-rule="evenodd"
                          d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                          clip-rule="evenodd"></path>
                  </svg>
                  Update
                </button>
                <button type="button"
                        id="deleteProductButton"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                  <svg class="w-4 h-4 mr-2"
                       fill="currentColor"
                       viewBox="0 0 20 20"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                          clip-rule="evenodd"></path>
                  </svg>
                  Delete
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>