<form [formGroup]="form"
      (submit)="create()">
  <div class="grid grid-cols-6 gap-6">
    <!-- Customer -->
    <div class="col-span-12">
      <label for="
         name"
             class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer</label>
      <angular2-multiselect id="structures"
                            [data]="customers"
                            [settings]="helper.dropdownSettings.single"
                            formControlName="customer"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
      </angular2-multiselect>
    </div>

    <ng-container formArrayName="items">
      <ng-container *ngFor="let itemForm of items.controls; let i = index">
        <div class="col-span-12  flex flex-row"
             [formGroup]="itemForm">
          <!-- Products -->
          <div class="basis-1/2">
            <label for="name"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product</label>
            <angular2-multiselect id="structures"
                                  [data]="products"
                                  [settings]="helper.dropdownSettings.single"
                                  formControlName="product"
                                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            </angular2-multiselect>
          </div>

          <!-- quantity -->
          <div class="basis-1/4 ml-3">
            <label for="email"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
            <input type="number"
                   formControlName="quantity"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                   placeholder="1"
                   required="">
          </div>

          <!-- Price -->
          <div class="basis-1/4 ml-3">
            <label for="email"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
            <input type="number"
                   formControlName="total_price"
                   class="cursor-not-allowed shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                   placeholder="0"
                   required="">
          </div>
        </div>


      </ng-container>

      <div class="col-span-12 flex justify-end">
        <button class="w-full block  px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 sm:w-auto dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
                (click)="addItem()"
                type="button">Add item</button>
      </div>
    </ng-container>

    <div class="col-span-12 flex">
      <!-- Due date -->
      <div class="basis-1/2">
        <label for="position"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Due date</label>
        <input type="date"
               formControlName="due_date"
               id="position"
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder=""
               required="">
      </div>

      <!-- Amount -->
      <div class="basis-1/2 ml-2">
        <label for="email"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount of goods</label>
        <input type="number"
               formControlName="amount"
               class="shadow-sm bg-gray-50 border cursor-not-allowed border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="0"
               required="">
      </div>

    </div>


    <!-- Description -->
    <div class="col-span-12">
      <label for="biography"
             class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Note <small
               class="text-xs text-gray-600 font-light">(Optional)</small></label>
      <textarea id="biography"
                rows="4"
                formControlName="description"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="🗒️A quick note"></textarea>
    </div>

    <!-- <div class="col-span-6">
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox"
               value=""
               class="sr-only peer">
        <div
             class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-slate-300 peer-checked:bg-blue-600">
        </div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Send approval for garnishing</span>
      </label>
    </div> -->

    <div class="flex col-span-12 justify-end">
      <button type="submit"
              class="w-full block px-5 py-3 text-base font-medium text-center text-white bg-orange-700 rounded-lg hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 sm:w-auto dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Create</button>
    </div>
  </div>
</form>