<form [formGroup]="form"
      (submit)="create()">
  <div class="grid grid-cols-6 gap-6">
    <ng-container formGroupName="customer">
      <!-- Customer name -->
      <div class="col-span-12 sm:col-span-6">
        <label for="first-name"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer name</label>
        <input type="text"
               formControlName="name"
               id="first-name"
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="Bonnie"
               required="">
      </div>

      <!-- Customer phone number -->
      <div class="col-span-6 sm:col-span-3">
        <label for="first-name"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer phone number</label>
        <input type="text"
               formControlName="phone_number"
               id="first-name"
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="0201346890"
               required="">
      </div>

      <!-- Customer nin -->
      <div class="col-span-6 sm:col-span-3">
        <label for="last-name"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer NIN</label>
        <input type="text"
               formControlName="nin"
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="GH-029920"
               required="">
      </div>
    </ng-container>


    <!-- Amount -->
    <div class="col-span-6 sm:col-span-3">
      <label for="email"
             class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount of goods</label>
      <input type="number"
             formControlName="amount"
             class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
             placeholder="600"
             required="">
    </div>

    <!-- Due date -->
    <div class="col-span-6 sm:col-span-3">
      <label for="position"
             class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Due date</label>
      <input type="date"
             formControlName="due_date"
             id="position"
             class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
             placeholder=""
             required="">
    </div>

    <!-- Description -->
    <div class="col-span-6">
      <label for="biography"
             class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
      <textarea id="biography"
                rows="4"
                formControlName="description"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="🍚Food Retailers, Food Products"></textarea>
    </div>

    <div class="col-span-6">
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox"
               value=""
               class="sr-only peer">
        <div
             class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-slate-300 peer-checked:bg-blue-600">
        </div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Send approval for garnishing</span>
      </label>
    </div>

    <div class="flex col-span-6 justify-end">
      <button type="submit"
              class="w-full block px-5 py-3 text-base font-medium text-center text-white bg-orange-700 rounded-lg hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 sm:w-auto dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Create</button>
    </div>
  </div>
</form>